<footer>
    @*<div class="container footerPayment">
        <div class="row">
            <div class="col-12">
                <div class="row paymentChannels">
                    <div class="col-6">
                        <div class="channels">
                            <h3>Payment Channels</h3>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="ssl">
                            <div class="verified">
                                Verified By
                            </div>

                            <div class="commerz">
                                SSLCOMMERZ
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 cards">
                <h6>Accepted Cards</h6>
                <img src="~/img/SSL/visa.png" />
                <img src="~/img/SSL/master.png" />
                <img src="~/img/SSL/america.png" />
                <img src="~/img/SSL/union.png" />
                <img src="~/img/SSL/block.png" />
                <img src="~/img/SSL/dbbl.png" />

            </div>

            <div class="col-12 mobileBank">
                <h6>Mobile Banking</h6>
                <img src="~/img/SSL/bkash.png" />
                <img src="~/img/SSL/nogod.png" />
                <img src="~/img/SSL/rocket.png" />
                <img src="~/img/SSL/wallet.png" />
                <img src="~/img/SSL/surecash.png" />
                <img src="~/img/SSL/upay.png" />
                <img src="~/img/SSL/dmoney.png" />
                <img src="~/img/SSL/mcash.png" />
                <img src="~/img/SSL/mycash.png" />
                <img src="~/img/SSL/tcash.png" />
                <img src="~/img/SSL/qcash.png" />
                <img src="~/img/SSL/fastcash.png" />
                <img src="~/img/SSL/islamic.png" />


            </div>

            <div class="col-12 bank">
                <h6>Internet banking / Wallet</h6>
                <img src="~/img/SSL/citytouch.png" />
                <img src="~/img/SSL/brack.png" />
                <img src="~/img/SSL/asia.png" />
                <img src="~/img/SSL/islamibank.png" />
                <img src="~/img/SSL/ab.png" />
                <img src="~/img/SSL/mtb.png" />
                <img src="~/img/SSL/dutchbangla.png" />
                <img src="~/img/SSL/sb.png" />
                <img src="~/img/SSL/ipay.png" />
                <img src="~/img/SSL/tap.png" />

            </div>
        </div>
    </div>*@
</footer>