
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 text-center">
        <div class="card">
            <div class="card-body">
                <h1><i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i> Sorry</h1>
                <h2>Resource Not Found</h2>
                <h4>The Resource you are looking for not available right now.</h4>
            </div>
        </div>       
    </div>
</div>

@section Scripts{

}
